.card-inverse {
    color: #fff;
}

.list-todos {
    list-style: none;
    padding-left: 0;

    .card {
        margin-bottom: 1.5em;
    }
}

.edit-todo {
    display: none;

    &.is-editing {
        display: table;
    }

    time {
        display: inline-block;
    }
}

.card-icons {
    float: right;

    & > * {
        font-size: 20px;
        margin-left: .4em;
        cursor: pointer;
        display: inline-block;
    }
}
