<div class="jumbotron">
	<div class="container">
		<form ng-submit="vm.addTodo()">
			<h1>Add Todo</h1>
			<span class="input-group col-lg-4">
				<input class="form-control" ng-model="vm.newTodo.todo" type="text">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="submit">Submit</button>
				</span>
			</span>
		</form>
	</div>
</div>
<div class="container">
	<ul class="list-todos">
		<li class="col-md-6" ng-repeat="todo in vm.todos">
			<div class="panel panel-primary">
				<header class="panel-heading">
					<time datetime="{{ todo.at }}">{{ todo.at | date: 'medium' }}</time>
					<div class="icons">
						<i class="glyphicon glyphicon-cog" ng-click="editTodo(todo)"></i>
						<i class="glyphicon glyphicon-remove" ng-click="deleteTodo(todo, $index)"></i>
					</div>
				</header>
				<div class="panel-body">
				<h3>{{ todo.todo }}</h3>
					<span class="edit-todo" ng-class="{'is-editing': todo == isEditing}">

						<input type="text" ng-model="todo.todo" ng-enter="updateTodo(todo)">
					</span>
				</div>
			</div>
		</li>
	</ul>
</div>