<div class="jumbotron">
	<div class="container">
		<form ng-submit="addTodo()">
			<h1>Add Todo</h1>
			<span class="input-group col-lg-4">
				<input class="form-control" ng-model="newTodo.todo" type="text">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="submit">Submit</button>
				</span>
			</span>
		</form>
	</div>
</div>
<div class="container">
	<ul>
		<li ng-repeat="todo in todos">
			<h2>{{ todo.todo }}</h2>
			<date>{{ todo.at }}</date>
			<i class="glyphicon glyphicon-remove" ng-click="deleteTodo(todo, $index)"></i>
			<span class="edit-todo" ng-class="{'is-editing': todo == isEditing}">
				<button class="btn btn-primary" ng-click="editTodo(todo)">edit</button>
				<input type="text" ng-model="todo.todo" ng-enter="updateTodo(todo)">
			</span>
		</li>
	</ul>
</div>