// --------------------------------------------------
// COLOR VARIABLES
// --------------------------------------------------

// ---------------------- Base Colors
$color_primary: blue;
$color_secondary: green;
$color_gray: #777;
$color_gray_light: #ddd;
$color_white: #fff;
	
// ---------------------- Applied Colors
$color_background-body: #fff;
$color_background-screen: #f1f1f1;
$color_background-hr: #ccc;
$color_background-button: #e6e6e6;
$color_background-pre: #eee;
$color_background-ins: #fff9c0;

$color_text-screen: #21759b;
$color_text-input: #666;
$color_text-input-focus: #111;
$color_link: royalblue;
$color_link-visited: purple;
$color_link-hover: midnightblue;
$color_text: #404040;

$color_border-button: #ccc #ccc #bbb;
$color_border-button-hover: #ccc #bbb #aaa;
$color_border-button-focus: #aaa #bbb #bbb;
$color_border-input: #ccc;
$color_border-abbr: #666;
$color_border: #ccc;

// --------------------------------------------------
// TYPOGRAPHY VARIABLES
// --------------------------------------------------
$font_paragraph: sans-serif;
$font_code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font_pre: "Courier 10 Pitch", Courier, monospace;
$font_line-height-body: 1.5;
$font_line-height-pre: 1.6;


